/* Google Fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global */
*,
html,
body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    background-image: linear-gradient(#4bf9d9, #e8f5f4);
}

h1, h2, h3, h4, h5, h6, p {
    color: #000000;
}

/* App Name */
.navbar-brand h1 {
    text-transform: uppercase;
    font-weight: 300 !important;
}

/* Activities */
.activities {
    font-size: 350%;
    font-weight: 900;
    min-height: 140px;
}

/* Main */
main {
    padding: 160px 0;
}

/* Footer */
footer {
    margin-top: 120px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p,
footer ul {
    margin-bottom: 0;
}

footer>div {
    background-image: linear-gradient(rgba(246, 242, 234, 0), #f5f1e8);
}

.container-fluid {
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
}

i {
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    footer div {
        gap: 20px;
    }
}